body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url("https://wallpapers.com/images/hd/aesthetic-laptop-drawing-kzs2xmyje63oewbt.jpg");
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    padding-top: 1.2rem;
    object-position: bottom;
}

/* Horizontal List */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px; /*to have no space above ul*/
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 0px 8px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a{
    color: rgb(255, 251, 244);
    text-decoration: none;
}

.nav-menu{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
    color: rgb(236, 227, 210);
    border-bottom: 1px solid white;
}

.text-center{
    text-align: center;
}

/* Name and Socials */

#name-social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
    padding: 10px;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}

/* SECTIONS */

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 75vh; */
    align-items: center;
}

section:nth-child(2n+1){
    background-color: white;
}

section:nth-child(2n){
    background-color: rgb(219, 241, 243);
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: rgb(29, 125, 138);
    display: inline-block;
    padding-top: 10px;
    margin: 0.5rem;
}

/* About Section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#about p{
    color: grey;
    width: 150vh;
    text-align: justify;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 25px;
}

#about p span{
    color: rgb(29, 125, 138);
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto; /*to center img*/
    margin-top: -14vh;
    position: relative; /* to bring image above header section img, can also use z-index higher value means at top*/
}

#my-image img{
    border-radius: 50%;
    height: 100%; /*will set according to parent*/
    width: 100%;
    object-fit: cover; /*to avoid stretching*/
    object-position: top;
    border: 1px solid white;
    box-shadow: 0px 0px 6px 4px rgb(195, 205, 209);
}

/* Skills Section */

.skills-display{
    width: 70%;
    height: 100%;
    padding-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress{
    width: 11rem;
    height: 2.2rem;
    margin: 25px;
    background-color: lightgray;
    border-radius: 1rem;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.skill-progress>div{
    border-radius: 1rem 0rem 0rem 1rem;
    -webkit-border-radius: 1rem 0rem 0rem 1rem;
    -moz-border-radius: 1rem 0rem 0rem 1rem;
    -ms-border-radius: 1rem 0rem 0rem 1rem;
    -o-border-radius: 1rem 0rem 0rem 1rem;
}

.skill-name span{
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

/* Common Margin Classes */

.mb75px{
    margin-bottom: 75px;
}

.mb-teal{
    background-color: rgb(29, 125, 138);
}

.mb-orange{
    background-color: rgb(241, 157, 0);
}

.mb-purple{
    background-color: rgb(151, 112, 189);
}

/* Percentage Classes */

.eighty-five-percent{
    width: 85%;
    height: inherit;
    /* box-shadow: 3px 0px 5px -3px grey; */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.fifty-percent{
    width: 50%;
    height: inherit;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Experience Section */

.timeline{
    position: relative;
    width: 75%;
    border: 2px solid black;
    /* display: flex;
    flex-direction: column; */
}

.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /* border: 2px solid black; */
    /* display: flex;
    justify-content: flex-end;
    flex-direction: column; */
}

.timeline-box:nth-child(2n){
    left: 54%;
    
}

.designation{
    /* border: 2px solid black; */
    margin: 5px;
}

.desig-details p{
    font-size: 16px;
    color: rgb(68, 68, 68);
}

.desig-details h4{
    font-size: 20px;
    font-weight: 500;
    color: rgb(31, 118, 129);
    margin-bottom: -10px;
}

.desig-details h2{
    font-size: 24px;
    margin-bottom: -15px;
    color: rgb(1, 66, 75);
}

.timeline-box:nth-child(2n+1) .desig-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.timeline-box:nth-child(2n) .desig-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exp-details{
    position: relative;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
    margin-top: -20px;
}

.timeline-divider{
    position: absolute; /*to place it in empty space of container*/
    border: 0.1rem dashed lightgray;
    width: 0;
    height: 75%;
    top: 10%;
    left: 50%;
}

.timeline-traveller{
    position: sticky;
    top: 25%;
    transform: rotate(90deg);
    z-index: 2;
}

.timeline-traveller i{
    color: rgb(1, 66, 75);
}

.timeline-box:nth-child(2n+1):after{ /*means after content of timeline box*/
    content: '';
    position: absolute;
    top: 36%;
    right: -12.7%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(179, 191, 194);
    z-index: 1;
}

.timeline-box:nth-child(2n):after{ /*means after content of timeline box*/
    content: '';
    position: absolute;
    top: 36%;
    left: -11.8%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(179, 191, 194);
    z-index: 1;
}

/* Education Section */

.education{
    position: relative;
    border: 2px solid black;
    width: 75%;
}

.education-box{
    position: relative;
    margin: 5px;
    width: 40%;
    min-height: 150px;
    border: 2px solid black; 
    left: 5%;  
}

.education-box:nth-child(2n){
    left: 54%;
}

/* Portfolio Section */

.portfolio-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-image-container{
    height: 15rem;
    width: 18rem;
    position: relative;
    margin-bottom: 10px;
}

.portfolio-image-container img{
    height: 100%;
    width: 100%;
}

.portfolio-details{
    transition: all 0.5s ease-in-out;
    color: transparent;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.portfolio-image-container:hover{
    box-shadow: 0px 0px 10px rgb(133, 202, 219);
}

.portfolio-image-container:hover .portfolio-details{
    color: white;
    background-color: rgba(117, 117, 117, 0.6);
}

/* Contact Section */

#contact{
    background: linear-gradient(#2857a4, #403066);
    padding-bottom: 30px;
}

.contact-section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.contact-section-heading span{
    font-size: 40px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding-top: 10px;
    margin: 0.5rem;
}

.contact-container{
    display: flex;
    justify-content: space-evenly;
}

.contact-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    margin-top: 15px;
    width: 40%;
    /* align-items: center;
    justify-content: center; */
}

hr{
    flex: 1;
}

.contact-address{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: 40%;
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    align-items: flex-start;
}

.contact-address p:not(:first-of-type){
    margin-bottom: -4px;
    line-height: 1px;
}

.contact-details input, textarea, button{
    background-color: transparent;
    border: none;
    margin: 30px;
    margin-bottom: 60px;
    resize: none; /*to prevent dragging textarea*/
}

.contact-details input, textarea{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    width: 100%;
}

.contact-details input:focus{
    outline: none; /*to remove the border of input*/
}

.contact-details textarea:focus{
    outline: none !important;
    /* border: none !important; */
}

textarea::placeholder, input::placeholder{
    color: white;
    opacity: 0.6;
    font-size: 16px;
}

.button button{
    color: white;
    font-size: 20px;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    margin-top: -10px;
    border: 2px solid white;
    padding: 10px;
}
